.page-footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #78d384;
    /* height: -100px; */
    size: 10px;
    font-size: 15px;
}
.facebook-button {
    align-self: auto;
}