.column {
    width: 500px;
}

.row {
    margin-left: 20%;
    height: 12%;
    margin-top: -7%;
    margin-right: 0px !important;
}

.card {
    background-color: #424242;
}

.card-body:hover {
    background-color: #aad3ebcc;
}

h4 {
    color: #f1f1decc;
    text-align: center;
}