<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column mb-4 px-2">
      <!--Card Primary-->
      <div class="card text-center z-depth-2">
          <a href={{newsfeeds[0].link}} target="_blank">
            <div class="card-body">
                <a class="white-text mb-0 small" >{{newsfeeds[0].title}}</a>
              </div>
          </a>
      </div>
      <!--/.Card Primary-->
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="column mb-4 px-2">
        <!--Card Primary-->
        <div class="card text-center z-depth-2">
            <a href={{newsfeeds[1].link}} target="_blank">
              <div class="card-body">
                  <a class="white-text mb-0 small" >{{newsfeeds[1].title}}</a>
                </div>
            </a>
        </div>
        <!--/.Card Primary-->
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row -->