<!-- Grid row -->
<div class="row">

  <mdb-card [hidden]="newsfeeds[0] !== undefined" style="margin-left: 45%; height: 45%; width:20%; margin-top: 2%">
    <mdb-card-body>
      <mdb-card-title>
      <h4>No articles for year {{this.globals.year}}</h4>
      </mdb-card-title>
      <mdb-card-text style="overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;"></mdb-card-text>
      <div class="flex-row">
      <a class="card-link"></a>
      </div>
    </mdb-card-body>
  </mdb-card>

  <mdb-card [hidden]="newsfeeds[0] == undefined" style="margin-left: 20%; height: 90%; width:20%;">
    <mdb-card-body style="margin-top: -5%;">
      <mdb-card-title>
      <h4>{{this.globals.year}} climate change related news</h4>
      </mdb-card-title>
      <mdb-card-text style="overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;">{{newsfeeds[0]?.title}}</mdb-card-text>
      <div class="flex-row">
      <a class="card-link" href={{newsfeeds[0]?.link}} target="_blank">Check story</a>
      </div>
    </mdb-card-body>
  </mdb-card>

  <mdb-card [hidden]="newsfeeds[1] == undefined" style="margin-left: 5%; height: 90%; width:20%;">
    <mdb-card-body style="margin-top: -5%;">
      <mdb-card-title>
      <h4>{{this.globals.year}} climate change related news</h4>
      </mdb-card-title>
      <mdb-card-text style="overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;">{{newsfeeds[1]?.title}}</mdb-card-text>
      <div class="flex-row">
      <a class="card-link" href={{newsfeeds[1]?.link}} target="_blank">Check story</a>
      </div>
    </mdb-card-body>
  </mdb-card>
  
  <mdb-card [hidden]="newsfeeds[2] == undefined" style="margin-left: 5%; height: 90%; width:20%; ">
    <mdb-card-body style="margin-top: -5%;">
      <mdb-card-title>
      <h4>{{this.globals.year}} climate change related news</h4>
      </mdb-card-title>
      <mdb-card-text style="overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;">{{newsfeeds[2]?.title}}</mdb-card-text>
      <div class="flex-row">
      <a class="card-link" href={{newsfeeds[2]?.link}} target="_blank">Check story</a>
      </div>
    </mdb-card-body>
  </mdb-card>

  </div>
  <!-- Grid row -->

  