<div style="display:inline-block; margin-top: -1%; margin-left: 1%;">
	<app-brand></app-brand>
</div>
<div style="display:fixed;">
	<app-newsfeed></app-newsfeed>
</div>






<div>
	<div>
		<mat-card style="width: 100%; height: 15px;"></mat-card>
		<div style="display:inline-flex; width: 15%;">
			<p class="yearTipText1">After selecting an year / month, you can press on the button to start the interactive map.</p>
			<ng-toggle
			[value]="config.value"
			[(ngModel)]="config.value"
			[disabled]="config.disabled"
			[width]="config.width"
			[height]="config.height"
			[margin]="config.margin"
			[labels]="config.labels"
			[color]="config.color"
			[switchColor]="config.switchColor"
			[fontColor]="config.fontColor"
			[fontSize]="config.fontSize"></ng-toggle>
		</div>

		<div style="display:inline-block; width: 40%; margin-left: 3%;">
			<ngx-slider (userChangeEnd)="yearSliderOnChange($event)" [(value)]="this.globals.year" [options]="yearOptions"></ngx-slider>
			<p class="yearTipText">You can use this slider to change the year. Pro tip: after you click on the slider button, you can easily switch years using arrow keys.</p>
		</div>

		<!-- <div style="display:inline-block; margin-left: 3%;">
			<p>Selected year: <input type="number" [(ngModel)]="this.globals.year" ></p>
		</div> -->
		
		<div style="display:inline-block; width: 35%; margin-left: 5%;">
			<ngx-slider (userChangeEnd)="monthSliderOnChange($event)" [(value)]="this.globals.month" [options]="monthOptions"></ngx-slider>
		</div>
	  	

		

		<!-- <mat-slider #mySlider style="margin-left: 50%;" thumbLabel tickInterval="1" min={{yearIntervals.yearMin}} value={{this.globals.year}} max={{yearIntervals.yearMax}}
			(slideend)="sliderOnChange(mySlider.value)" (pointerup)="sliderOnChange(mySlider.value)"></mat-slider> -->
	</div>

	<highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
		[options]="chartOptions" [(update)]="updateTemperaturesFlag">
	</highcharts-chart>
</div>

<app-footer></app-footer>