p {
  font-family: Lato;
}

#container {
  width: 65%; 
  margin-left: 33%;
  height: 60%; 
  display: block;
  margin-top: 0.5%
}

.yearTipText {
  white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position:absolute;
			width: inherit;
			color: dimgray;
}
.yearTipText:hover {
  overflow: visible;
}



.yearTipText1 {
  padding-left: 1.5em;
  overflow: hidden;
  font: revert;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.yearTipText1:hover {
  overflow: visible;
}

.gmsl {
  position: fixed;
    bottom: 20%;
    right: 57%;
    z-index: 9999;
    color: blue;
    font-size: xx-large;
}

.gmslDescr {
  position: fixed;
    bottom: 17%;
    right: 59%;
    z-index: 9999;
    font-size: x-large;
}

.co2 {
  position: fixed;
    bottom: 27%;
    right: 56%;
    z-index: 9999;
    color: red;
    font-size: xx-large;
}

.co2Descr {
  position: fixed;
    bottom: 24%;
    right: 60%;
    z-index: 9999;
    font-size: x-large;
}