<div style="display:inline-block; margin-top: -1%; margin-left: 1%;">
	<app-brand></app-brand>
</div>
<div style="display:fixed;">
	<app-newsfeed></app-newsfeed>
</div>



<div>
		<mat-card style="width: 100%; height: 15px; border-radius:0px !important;"></mat-card>
		<div style="display:inline-flex; width: 31%; align-items: center;">
			<p class="yearTipText1">After selecting an year or month, you can press the button to start the iterations on the map, each iteration occurs once every 5 seconds.</p>
			<ng-toggle
			[value]="config.value"
			[(ngModel)]="config.value"
			[disabled]="config.disabled"
			[width]="config.width"
			[height]="config.height"
			[margin]="config.margin"
			[labels]="config.labels"
			[color]="config.color"
			[switchColor]="config.switchColor"
			[fontColor]="config.fontColor"
			[fontSize]="config.fontSize"
			(change)="buttonChanged($event)"></ng-toggle>
		</div>

		<div style="display:inline-block; width: 40%; margin-left: 3%;">
			<ngx-slider (userChangeEnd)="yearSliderOnChange($event)" [(value)]="this.globals.year" [options]="yearOptions"></ngx-slider>
			<p class="yearTipText">You can use this slider to change the year. Pro tip: after you click on the slider button, you can easily switch years using arrow keys.</p>
		</div>

		<!-- <div style="display:inline-block; margin-left: 3%;">
			<p>Selected year: <input type="number" [(ngModel)]="this.globals.year" ></p>
		</div> -->
		
		<div style="display:inline-block; width: 20%; margin-left: 3%;">
			<ngx-slider (userChangeEnd)="monthSliderOnChange($event)" [(value)]="this.globals.month" [options]="monthOptions"></ngx-slider>
		</div>
	  	

		

		<!-- <mat-slider #mySlider style="margin-left: 50%;" thumbLabel tickInterval="1" min={{yearIntervals.yearMin}} value={{this.globals.year}} max={{yearIntervals.yearMax}}
			(slideend)="sliderOnChange(mySlider.value)" (pointerup)="sliderOnChange(mySlider.value)"></mat-slider> -->
	</div>
	<div>
	<app-environmental-live></app-environmental-live>
		<div class="co2">{{this.co2_ppm == "N/A" ? "N/A" : this.co2_ppm | number:'3.2-2'}}ppm</div>
		<div class="co2Descr">(CO2)</div>
		<div class="gmsl">{{this.gmsl == "N/A" ? "N/A" : this.gmsl | number:'2.2-2'}}mm</div>
		<div class="gmslDescr">(GMSL)</div>
	<highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
		[options]="chartOptions" [(update)]="updateTemperaturesFlag">
	</highcharts-chart>
</div>

<app-footer></app-footer>